html, body{
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

html{
    scroll-behavior: smooth;
}

.sidebar {
    opacity: 0;
    transform: translateX(-20px);
    animation: fadeInSidebar 1s ease-in-out forwards;
    animation-delay: 2s;
}

@keyframes fadeInSidebar {
    to{
        opacity: 1;
        transform: translateX(0);
    }
    
}

.container{
    display: flex;
    height: 100vh;
}

.sidebar li a{
    color: white;
}

.sidebar {
    width: 30%;
    height: 100vh;
    background-color: rgb(26, 27, 29);
    color: white;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.sidebar ul{
    border: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 0 0 0 10px;
    margin: 0;
    list-style: none;
}

.sidebar li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding-left: 20px;
    border-bottom: 1px solid white;
    box-sizing: border-box;
}

.sidebar ul li{
    padding: 10px 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.sidebar ul li:hover{
    transform: translateX(10px);
    background-color: rgba(255, 255, 255, 0.1);
}
